*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
 ---color--01--:white;
 ---color--02--:rgb(124, 124, 124);
 ---color--03--:#0D6EFD;
 ---color--04--:#DF5951;

}
.nav-bar a i.active {
  color: blue; /* cor diferente para o link ativo */
}
.menu_item.active{
    color: #007bff !important;
}